<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <commands role:require="Standalone or ContentManagement">
      <command name="cache:SiteClearCacheCommand" type="Foundation.HtmlCache.Commands.SiteClearCacheCommand,Foundation.HtmlCache"/>
      <command name="cache:SiteClearCacheAllLanguagesCommand" type="Foundation.HtmlCache.Commands.SiteClearCacheAllLanguagesCommand,Foundation.HtmlCache"/>
      <command name="cache:SiteClearCacheAllSitesCommand" type="Foundation.HtmlCache.Commands.SiteClearCacheAllSitesCommand,Foundation.HtmlCache"/>
    </commands>
    <settings>
      <setting name="GlobalCacheableTemplateIDs" value="{DAF085E8-602E-43A6-8299-038FF171349F}"/>
    </settings>
    <itemManager defaultProvider="default" role:require="Standalone or ContentDelivery">
      <providers>
        <clear />
        <add name="default" type="Sitecore.Data.Managers.ItemProvider, Sitecore.Kernel">
          <patch:delete />
        </add>
        <add name="default" type="Foundation.HtmlCache.Providers.ItemTrackingProvider, Foundation.HtmlCache" />
      </providers>
    </itemManager>
    <pipelines>
      <initialize>
        <processor type="Foundation.HtmlCache.Pipelines.RemoteEventSubscriber, Foundation.HtmlCache" method="Initialize" role:require="Standalone or ContentDelivery" />
      </initialize>
      <mvc.renderRendering>
        <processor
          type="Foundation.HtmlCache.Cache.GenerateCacheKeyWithUIDBefore, Foundation.HtmlCache"
          patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']" role:require="Standalone or ContentDelivery" />
        <processor
          type="Foundation.HtmlCache.Pipelines.RenderingContextProcessor, Foundation.HtmlCache"
          patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.InitializeProfiling, Sitecore.Mvc']" role:require="Standalone or ContentDelivery" />
        <processor
          type="Foundation.HtmlCache.Cache.GenerateCacheKeyWithUIDAfter, Foundation.HtmlCache"
          patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.AddRecordedHtmlToCache, Sitecore.Mvc']" role:require="Standalone or ContentDelivery" />
      </mvc.renderRendering>
    </pipelines>
    <events>
      <event name="publish:itemProcessing">
        <handler type="Foundation.HtmlCache.Events.ItemPrePublish, Foundation.HtmlCache" method="CalculatePublishOperation" role:require="Standalone or ContentManagement"/>
      </event>
      <event name="publish:itemProcessed">
        <handler type="Foundation.HtmlCache.Events.ItemPublishNotifier, Foundation.HtmlCache" method="NotifyItemPublications" role:require="Standalone or ContentManagement"/>
      </event>
      <event name="publish:itemProcessed:Remote">
        <handler type="Foundation.HtmlCache.Events.ItemPublished, Foundation.HtmlCache" method="Clear" role:require="Standalone or ContentDelivery" />
      </event>

      <event name="cache:clearCacheSite:Remote">
        <handler type="Foundation.HtmlCache.Events.ClearCacheSite, Foundation.HtmlCache" method="Clear" role:require="Standalone or ContentDelivery" />
      </event>
      <event name="cache:clearCacheSiteAllLanguages:Remote">
        <handler type="Foundation.HtmlCache.Events.ClearCacheSiteAllLanguages, Foundation.HtmlCache" method="Clear" role:require="Standalone or ContentDelivery" />
      </event>
      <event name="cache:clearCacheAllSites:Remote">
        <handler type="Foundation.HtmlCache.Events.ClearCacheAllSites, Foundation.HtmlCache" method="Clear" role:require="Standalone or ContentDelivery" />
      </event>

      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <patch:delete />
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <patch:delete />
        </handler>
      </event>
    </events>
    <controlSources>
      <source mode="on" namespace="Foundation.HtmlCache.Controls" assembly="Foundation.HtmlCache" prefix="Foundation.HtmlCache"/>
    </controlSources>
  </sitecore>
</configuration>