<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement" search:require="solr">
    <pipelines>
      <mvc.renderRendering>
        <processor type="SitecoreAdvancedCaching.Cache.GenerateCacheKeyWithUID, SitecoreAdvancedCaching" patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']" />
      </mvc.renderRendering>
    </pipelines>
      <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="ItemRenderings" returnType="string" storageType="yes" indexType="untokenized">
                SitecoreAdvancedCaching.Search.ItemRenderingsComputedField, SitecoreAdvancedCaching
              </field>
              <field fieldName="PublishingTimestamp" returnType="string" storageType="yes" indexType="untokenized">
                SitecoreAdvancedCaching.Search.PublishingTimestampComputedField, SitecoreAdvancedCaching
              </field>
              <field fieldName="RenderingRules" returnType="string" storageType="yes" indexType="untokenized">
                SitecoreAdvancedCaching.Search.RenderingRulesComputedField, SitecoreAdvancedCaching
              </field>
            </fields>
          </documentOptions>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
    <events>
      <event name="publish:startPublishing">
        <handler type="SitecoreAdvancedCaching.Events.PublishingStartEvent, SitecoreAdvancedCaching" method="SetPublishingStartTimestamp"/>
      </event>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <patch:delete />
        </handler>
      </event>
      <event name="indexing:end">
        <handler type="SitecoreAdvancedCaching.Events.IndexingEndEvent, SitecoreAdvancedCaching" method="CaclculateRenderingCachesToClear"/>
      </event>
      <event name="caching">
        <handler type="SitecoreAdvancedCaching.Events.HtmlCacheClearingEvent, SitecoreAdvancedCaching" method="ClearHtmlCache"/>
      </event>
    </events>
  </sitecore>
</configuration>