<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.HtmlCache">
          <targetDataStore physicalRootPath="$(serializationSource)Foundation\HtmlCache\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Foundation.HtmlCache.Controls.Treelist" database="core" path="/sitecore/system/Field types/List Types/Multiroot-Treelist" />
            <include name="Foundation.HtmlCache.CMS.MenuButton" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Publish/Clear Cache" />
            <include name="Foundation.HtmlCache.CMS.MenuButtons" database="core" path="/sitecore/content/Applications/Content Editor/Menues/Cache" />
			<include name="Foundation.HtmlCache.CMS.CacheableTemplates" database="master" path="/sitecore/templates/System/Layout/Sections/Caching/CacheableTemplates" />
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>