<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <settings>
      <setting name="GlobalCacheableTemplateIDs" value="{DAF085E8-602E-43A6-8299-038FF171349F}"/>
    </settings>
    <itemManager defaultProvider="default" role:require="Standalone or ContentDelivery">
      <providers>
        <clear />
        <add name="default" type="Sitecore.Data.Managers.ItemProvider, Sitecore.Kernel">
          <patch:delete />
        </add>
        <add name="default" type="SitecoreAdvancedCaching.Providers.ItemTrackingProvider, SitecoreAdvancedCaching" />
      </providers>
    </itemManager>
    <pipelines>
      <initialize>
        <processor type="SitecoreAdvancedCaching.Pipelines.ItemPublishingWatchProcesser, SitecoreAdvancedCaching" method="Initialize" role:require="Standalone or ContentDelivery" />
      </initialize>
      <mvc.renderRendering>
        <processor
          type="SitecoreAdvancedCaching.Cache.GenerateCacheKeyWithUIDBefore, SitecoreAdvancedCaching"
          patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']" role:require="Standalone or ContentDelivery" />
        <processor
          type="SitecoreAdvancedCaching.Pipelines.RenderingContextProcessor, SitecoreAdvancedCaching"
          patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.InitializeProfiling, Sitecore.Mvc']" role:require="Standalone or ContentDelivery" />
        <processor
          type="SitecoreAdvancedCaching.Cache.GenerateCacheKeyWithUIDAfter, SitecoreAdvancedCaching"
          patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.AddRecordedHtmlToCache, Sitecore.Mvc']" role:require="Standalone or ContentDelivery" />
      </mvc.renderRendering>
    </pipelines>
    <events>
      <event name="publish:itemProcessing">
        <handler type="SitecoreAdvancedCaching.Events.ItemPrePublish, SitecoreAdvancedCaching" method="CalculatePublishOperation" role:require="Standalone or ContentManagement"/>
      </event>
      <event name="publish:itemProcessed">
        <handler type="SitecoreAdvancedCaching.Events.ItemPublishNotifier, SitecoreAdvancedCaching" method="NotifyItemPublications" role:require="Standalone or ContentManagement"/>
      </event>
      <event name="publish:itemProcessed:Remote">
        <handler type="SitecoreAdvancedCaching.Events.ItemPublished, SitecoreAdvancedCaching" method="Clear" role:require="Standalone or ContentDelivery" />
      </event>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <patch:delete />
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <patch:delete />
        </handler>
      </event>
    </events>
    <controlSources>
      <source mode="on" namespace="SitecoreAdvancedCaching.Controls" assembly="SitecoreAdvancedCaching" prefix="SitecoreAdvancedCaching"/>
    </controlSources>
  </sitecore>
</configuration>